body
{
	background-color: #703C3B;
	color: #FFBFBD;
}

a:hover
{
	color: #FFFFFF !important;
}

h6 {
	margin-bottom: 0px;
}

.btn
{
	background-color: #FFBFBD !important;
	border-color: #2B0908 !important;
	color: #2B0908 !important;
}

.carousel .fill
{
	background-position: center top !important;
}

.carouselCaption
{
	background-color: #B00C00;
	color: #FFBFBD;
	margin-left: auto;
	margin-right: auto;
}

.gjBar
{
	background-color: #800000;
}

.gjList
{
	list-style-type: none;
	color: #FFBFBD;
}

.gjPanel
{
	background-color: #b00c00;
	color: #ffbfbd;
}

.icon-bar
{
	background-color: #FFBFBD !important;
}

.navbar-toggle:focus
{
	background-color: #2B0908 !important;
}

.navbar-toggle:hover
{
	background-color: #2B0908 !important;
}

.panel
{
	background-color: #FFBFBD;
	color: #2B0908;	
}

.quote {
	text-align: center;
}

.sameLine {
	display: inline;
}

.serverBanner
{
	background-image: url("../images/David-Hasselhoff-True-Survivor.jpg");
}

.serverCaption
{	
	width: 185px;
}

.submitBtn {
	margin-top: 15px;
	margin-left: 15px;
}

.thirdBanner
{
	background-image: url("../images/ELEBanner.jpg");
}

.welcomeBanner
{
	background-image: url("../images/youNeedMeBanner.jpg");
	background-repeat: no-repeat;
}

.welcomeCaption
{	
	width: 150px;
}