body
{
	background-color: #2D2D29;
	color: #92C7A3;
}

a:hover
{
	color: #3CA2A2 !important;
}

h6 {
	margin-bottom: 0px;
}

.btn
{
	background-color: #3CA2A2 !important;
	border-color: #2b0908 !important;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #FFFFFF !important;
}

.carousel .fill
{
	background-position: center top !important;
}

.carousel-indicators>.active {
	background-color: #3CA2A2;
}

.carousel-inner {
	background-color: #FFFFFF;
}

.carouselCaption {
	background-color: #3CA2A2;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

.gj {
	color: #DFECE6 !important;
}

.gjBar
{
	background-color: #215A6D;
}

.gjList
{
	list-style-type: none;
	color: #92C7A3;
}

.gjPanel
{
	background-color: #3CA2A2 !important;
	color: #FFFFFF !important;
	text-align: center;
}

.icon-bar
{
	background-color: #FFBFBD !important;
}

.item {
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 580px) {
	.item {
		width: 580px;
	}
}

.navbar-toggle:focus
{
	background-color: #2B0908 !important;
}

.navbar-toggle:hover
{
	background-color: #2B0908 !important;
}

.panel
{
	background-color: #DFECE6;
	color: #000000;	
}

.quote {
	text-align: center;
}

.sameLine {
	display: inline;
}

.serverBanner
{
	background-image: url("../images/David-Hasselhoff-True-Survivor.jpg");
}

.serverCaption
{	
	width: 185px;
}

.submitBtn {
	margin-top: 15px;
	margin-left: 15px;
}

.thirdBanner
{
	background-image: url("../images/ELE.jpg");
}

.welcomeBanner
{
	background-image: url("../images/gjLogo.jpg");
	background-repeat: no-repeat;
}

.welcomeCaption
{		
	width: 150px;
}